<html>
<head>
    <title>
        <% if(typeof page !== "undefined"){ %>
        <%= page.title %>
        <% } else { %>
        <%= 'All pages'  %>
        <% } %>
    </title>
    <style>
        .main-block {
            padding: 10vh 10vw;
        }

        a {
            display: block;
        }

        .form-group {
            padding: 1em;
        }

        .text input {
            width: 50%;
        }

        .textarea textarea {
            width: 100%;
        }

        .submit {
            text-align: right;
        }
    </style>
</head>
<body>